@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 110px;
}


body {
  background: #ffffff;
  color: #0a0a0a;
}

@keyframes community-marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
